body {
  margin: 70px 0 0 0;
  font-family:Palatino Linotype;
  font-size:12pt;
}

h2 {
  margin-bottom: 30px;
  margin-top: 40px;
  position: relative;
}

.jump {
  position: relative;
  top: -70px;
  width: 0;
  height: 0;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 50px;
}

.navbar a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  color: black;
}

#navlist li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.main {
  padding: 1px;
  margin-top: 1px;
  height: 1px;
}

.paper-bibtex img
{
  height: 10pt;
  margin-bottom: -2.5pt;
}

.paper-bib
{
  white-space: pre;
  font-family: monospace;
  border: 1px solid black;
  overflow: auto;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: 10pt;
  background-color: #f8f8ff;
}

@media (min-width: 768px) {
  .contact-info {
    float:right;
  }
}
